<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Actividades</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <div class="container">
    <h2>API ACTIVIDADES</h2>
   <div class="content-tables">
    <div class="content">
        <div class="row">
            <div class="table">
                <h2>Registrar Actividad</h2>
                <table class="tableRegister">
                    <tr class="filas">
                        <td class="title">Número: </td>
                        <td class="td-right">1</td>
                    </tr>
                    <tr>
                        <td class="title">Nombre endpoint: </td>
                        <td class="td-right">Registrar Actividad</td>
                    </tr>
                    <tr>
                        <td class="title">URI: </td>
                        <td class="td-right">localhost:3000/actividades/registrar</td>
                    </tr>
                    <tr>
                        <td class="title">Descripción: </td>
                        <td class="td-right">Endpoint para registrar una Actividad en la base de datos</td>
                    </tr>
                    <tr>
                        <td class="title">Verbo HTTP: </td>
                        <td class="td-right">POST</td>
                    </tr>
                    <tr>
                        <td class="title">Header: </td>
                        <td class="td-right">Content-Type: JSON</td>
                    </tr>
                    <tr>
                        <td class="title">Request JSON: </td>
                        <td class="td-right">
                            {
                                "fecha_realizacion_actividad": "2024-03-19",
                                "descripcion": "Descripción de la actividad",
                                "fk_mantenimiento": 1,
                                "fk_tecnico": 1
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Response: </td>
                        <td class="td-right">
                           <li>
                            <span>Correcto:</span> <br> <br>
                            status: 200 <br><br>
                           Body: <br>
                           {
                                "message": "Actividad registrada exitosamente"
                           }
                          <br> <br>
                           </li>
                          <li>
                            <span>Incorrecto:</span> <br><br>
                            status: 403 <br><br>
                            Body: <br>
                            {
                                "message": "No hay actividades"
                            }
                          </li>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="table">
                <h2>Listar Actividades</h2>
                <table class="tableRegister">
                    <tr class="filas">
                        <td class="title">Número: </td>
                        <td class="td-right">2</td>
                    </tr>
                    <tr>
                        <td class="title">Nombre endpoint: </td>
                        <td class="td-right">Listar Actividades</td>
                    </tr>
                    <tr>
                        <td class="title">URI: </td>
                        <td class="td-right">localhost:3000/actividades/listar</td>
                    </tr>
                    <tr>
                        <td class="title">Descripción: </td>
                        <td class="td-right">Endpoint para listar las Actividades en la base de datos</td>
                    </tr>
                    <tr>
                        <td class="title">Verbo HTTP: </td>
                        <td class="td-right">GET</td>
                    </tr>
                    <tr>
                        <td class="title">Response: </td>
                        <td class="td-right">
                           <li>
                            <span>Correcto:</span> <br> <br>
                            status: 200 <br><br>
                           Body: <br>
                           [ <br>
                           {   <br>
                            "id": 1, <br>
                            "fecha_realizacion_actividad": "2024-03-19", <br>
                            "descripcion": "Descripción de la actividad", <br>
                            "fk_mantenimiento": 1, <br>
                            "fk_tecnico": 1 <br>
                          },<br>
                         ] <br> <br>
                           </li>
                          <li>
                            <span>Incorrecto:</span> <br><br>
                            status: 403 <br><br>
                            Body: <br>
                            {
                                "message": "No hay actividades"
                            }
                          </li>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
       <div class="row">
        <div class="table">
            <h2>Buscar Actividad</h2>
            <table class="tableRegister">
                <tr class="filas">
                    <td class="title">Número: </td>
                    <td class="td-right">3</td>
                </tr>
                <tr>
                    <td class="title">Nombre endpoint: </td>
                    <td class="td-right">Buscar Actividad</td>
                </tr>
                <tr>
                    <td class="title">URI: </td>
                    <td class="td-right">localhost:3000/actividades/consultar/:id</td>
                </tr>
                <tr>
                    <td class="title">Descripción: </td>
                    <td class="td-right">Endpoint para buscar una Actividad en la base de datos por su ID</td>
                </tr>
                <tr>
                    <td class="title">Verbo HTTP: </td>
                    <td class="td-right">GET</td>
                </tr>
                <tr>
                    <td class="title">Usuarios: </td>
                    <td class="td-right">Administrador, Encargado</td>
                </tr>
                <tr>
                    <td class="title">Response: </td>
                    <td class="td-right">
                       <li>
                        <span>Correcto:</span> <br> <br>
                        status: 200 <br><br>
                       Body: <br>
                       { <br>
                        "id": 1, <br>
                        "fecha_realizacion_actividad": "2024-03-19", <br>
                        "descripcion": "Descripción de la actividad", <br>
                        "fk_mantenimiento": 1, <br>
                        "fk_tecnico": 1 <br>
                       } <br> <br>
                       </li>
                      <li>
                        <span>Incorrecto:</span> <br><br>
                        status: 403 <br><br>
                        Body: <br>
                        {                            
                            "message": "No se encontró la actividad"
                        }
                  </li>
                </td>
            </tr>
        </table>
    </div>
    <div class="table">
        <h2>Actualizar Actividad</h2>
        <table class="tableRegister">
            <tr class="filas">
                <td class="title">Número: </td>
                <td class="td-right">4</td>
            </tr>
            <tr>
                <td class="title">Nombre endpoint: </td>
                <td class="td-right">Actualizar Actividad</td>
            </tr>
            <tr>
                <td class="title">URI: </td>
                <td class="td-right">localhost:3000/actividades/actualizar/:id</td>
            </tr>
            <tr>
                <td class="title">Descripción: </td>
                <td class="td-right">Endpoint para actualizar datos de una actividad en la base de datos</td>
            </tr>
            <tr>
                <td class="title">Verbo HTTP: </td>
                <td class="td-right">PUT</td>
            </tr>
            <tr>
                <td class="title">Header: </td>
                <td class="td-right">Content-Type: JSON</td>
            </tr>
            <tr>
                <td class="title">Usuarios: </td>
                <td class="td-right">Administrador, Encargado</td>
            </tr>
            <tr>
                <td class="title">Request JSON: </td>
                <td class="td-right">
                    {
                        "fecha_realizacion_actividad": "2024-03-19",
                        "descripcion": "Nueva descripción de la actividad",
                        "fk_mantenimiento": 2,
                        "fk_tecnico": 2
                    }
                </td>
            </tr>
            <tr>
                <td class="title">Response: </td>
                <td class="td-right">
                   <li>
                    <span>Correcto:</span> <br> <br>
                    status: 200 <br><br>
                   Body: <br>
                   {
                        "message": "Actividad actualizada exitosamente"
                   }
                  <br> <br>
                   </li>
                  <li>
                    <span>Incorrecto:</span> <br><br>
                    status: 403 <br><br>
                    Body: <br>
                    {
                        "message": "No se actualizó la actividad"
                    }
                  </li>
                </td>
            </tr>
        </table>
    </div>
   </div>
</div>
</div>
</div>
</body>
</html>

