<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnicos Documentacion</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <div class="container">
    <h2>API TECNICOS</h2>
   <div class="content-tables">
    <div class="content">
        <div class="table">
            <h2>Registrar Tecnico</h2>
            <table class="tableRegister">
                <tr class="filas">
                    <td class="title">Número: </td>
                    <td class="td-right">1</td>
                </tr>
                <tr>
                    <td class="title">Nombre endpoint: </td>
                    <td class="td-right">Registrar Tecnico</td>
                </tr>
                <tr>
                    <td class="title">URI: </td>
                    <td class="td-right">localhost:3000/tecnicos/registrar</td>
                </tr>
                <tr>
                    <td class="title">Descripción: </td>
                    <td class="td-right">Endpoint para registrar un tecnico en la base de datos</td>
                </tr>
                <tr>
                    <td class="title">Verbo HTTP: </td>
                    <td class="td-right">POST</td>
                </tr>
                <tr>
                    <td class="title">Header: </td>
                    <td class="td-right">Content-Type:  JSON</td>
                </tr>
                <tr>
                    <td class="title">Usuarios: </td>
                    <td class="td-right">Administrador</td>
                </tr>
                <tr>
                    <td class="title">Request JSON: </td>
                    <br>
                    <td class="td-right">
                        {<br>
                            "identificacion": "",<br>
                            "nombres": "",<br>
                            "apellidos": "",<br>
                            "correo": "",<br>
                            "telefono": ""<br>
                        }<br>
                    </td>
                </tr>
                <tr>
                    <td class="title">Response: </td>
                    <td class="td-right">
                       <li>
                        <span>Correcto:</span> <br> <br>
                        status: 200 <br><br>
                       Body: <br>
                       {
                        "message": "Tecnico registrado exitosamente"
                      }<br> <br>
                       </li>
                          <li> <span>Incorrecto:</span> <br><br>
                           status: 500 <br><br>
                           Body: <br>
                           {<br>
                            "message": "Tecnico no registrado",<br>
                            "error": {<br>
                              muestra las características del error<br>
                            }
                          }
                          </li>
                           
                    </td>
                </tr>
            </table>
        </div>
        <div class="table">
            <h2>Listar Tecnicos</h2>
            <table class="tableRegister">
                <tr class="filas">
                    <td class="title">Número: </td>
                    <td class="td-right">2</td>
                </tr>
                <tr>
                    <td class="title">Nombre endpoint: </td>
                    <td class="td-right">Listar Tecnicos</td>
                </tr>
                <tr>
                    <td class="title">URI: </td>
                    <td class="td-right">localhost:3000/tecnicos/listar</td>
                </tr>
                <tr>
                    <td class="title">Descripción: </td>
                    <td class="td-right">Endpoint para listar los tecnicos de la base de datos</td>
                </tr>
                <tr>
                    <td class="title">Verbo HTTP: </td>
                    <td class="td-right">GET</td>
                </tr>
                <tr>
                    <td class="title">Header: </td>
                    <td class="td-right"></td>
                </tr>
                <tr>
                    <td class="title">Usuarios: </td>
                    <td class="td-right">Administrador, Encargado</td>
                </tr>
                <tr>
                    <td class="title">Request JSON: </td>
                    <td class="td-right"></td>
                </tr>
                <tr>
                    <td class="title">Response: </td>
                    <td class="td-right">
                       <li>
                        <span>Correcto:</span> <br> <br>
                        status: 200 <br><br>
                       Body: <br>
                       [<br>
                        {<br>
                            "id_tecnico": 1,<br>
                            "identificacion": 45465494,<br>
                            "nombres": "Bob",<br>
                            "apellidos": "Reparador",<br>
                            "correo": "bobelreparador@gmail.com",<br>
                            "telefono": "4787846"<br>
                        },<br>
                        {<br>
                            "id_tecnico": 4,<br>
                            "identificacion": 1084330393,<br>
                            "nombres": "Dani",<br>
                            "apellidos": "Rodriguez",<br>
                            "correo": "dani@gmail.com", <br>
                            "telefono": "65479" <br>
                        } <br>
                        ] <br> <br>
                       </li>
                          <li> <span>Incorrecto:</span> <br><br>
                           status: 500 <br><br>
                           Body: <br>
                           {<br>
                            "message": "ERROR"<br>
                           }<br>
                           "error": {<br>
                            muestra las características del error<br>
                          }
                          </li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  <div class="content">
    <div class="table">
        <h2>Buscar Tecnicos</h2>
        <table class="tableRegister">
            <tr class="filas">
                <td class="title">Número: </td>
                <td class="td-right">3</td>
            </tr>
            <tr>
                <td class="title">Nombre endpoint: </td>
                <td class="td-right">Buscar Tecnico</td>
            </tr>
            <tr>
                <td class="title">URI: </td>
                <td class="td-right">localhost:3000/categorias/consultar/:id</td>
            </tr>
            <tr>
                <td class="title">Descripción: </td>
                <td class="td-right">Endpoint para buscar un tecnico en la base de datos por su ID</td>
            </tr>
            <tr>
                <td class="title">Verbo HTTP: </td>
                <td class="td-right">GET</td>
            </tr>
            <tr>
                <td class="title">Header: </td>
                <td class="td-right"></td>
            </tr>
            <tr>
                <td class="title">Usuarios: </td>
                <td class="td-right">Administrador, Encargado</td>
            </tr>
            <tr>
                <td class="title">Request JSON: </td>
                <td class="td-right"></td>
            </tr>
            <tr>
                <td class="title">Response: </td>
                <td class="td-right">
                   <li>
                    <span>Correcto:</span> <br> <br>
                    status: 200 <br><br>
                   Body: <br>
                   { <br>
                        [<br>
                            "id_tecnico": 1,<br>
                            "identificacion": 45465494,<br>
                            "nombres": "Bob",<br>
                            "apellidos": "Reparador",<br>
                            "correo": "bobelreparador@gmail.com",<br>
                            "telefono": "4787846"<br>
                        ]
                   }  <br> <br>
                   </li>
                      <li> <span>Incorrecto:</span> <br><br>
                       status: 404 <br><br>
                       Body: <br>
                       {
                        "message": "No se encontro el tecnico"
                       }
                      </li>
                </td>
            </tr>
        </table>
    </div>
    <div class="table">
        <h2>Actualizar Tecnico</h2>
        <table class="tableRegister">
            <tr class="filas">
                <td class="title">Número: </td>
                <td class="td-right">4</td>
            </tr>
            <tr>
                <td class="title">Nombre endpoint: </td>
                <td class="td-right">Actualizar Tecnico </td>
            </tr>
            <tr>
                <td class="title">URI: </td>
                <td class="td-right">localhost:3000/tecnicos/actulizar/:id</td>
            </tr>
            <tr>
                <td class="title">Descripción: </td>
                <td class="td-right">Endpoint para actualizar datos de un tecnico en la base de datos</td>
            </tr>
            <tr>
                <td class="title">Verbo HTTP: </td>
                <td class="td-right">PUT</td>
            </tr>
            <tr>
                <td class="title">Header: </td>
                <td class="td-right">Content-Type:  JSON</td>
            </tr>
            <tr>
                <td class="title">Usuarios: </td>
                <td class="td-right">Administrador, Encargado</td>
            </tr>
            <tr>
                <td class="title">Request JSON: </td>
                <td class="td-right">
                    { <br>
                        "nombre_categoria": "Maquinaria", <br>
                       } 
                </td>
            </tr>
            <tr>
                <td class="title">Response: </td>
                <td class="td-right">
                   <li>
                    <span>Correcto:</span> <br> <br>
                    status: 200 <br><br>
                   Body: <br>
                   {<br>
                        "message": "Tecnico actualizado exitosamente"<br>
                  }
                    <br> <br>
                   </li>
                      <li> <span>Incorrecto:</span> <br><br>
                       status: 404 <br><br>
                       Body: <br>
                       { <br>
                        "message": "Tecnico no actualizado", <br>
                        "error": {<br>
                            muestra las características del error <br>
                            }  <br>
                       }
                      </li>
                </td>
            </tr>
        </table>
    </div>
    <div class="table">
        <h2>Eliminar Tecnicos</h2>
        <table class="tableRegister">
            <tr class="filas">
                <td class="title">Número: </td>
                <td class="td-right">5</td>
            </tr>
            <tr>
                <td class="title">Nombre endpoint: </td>
                <td class="td-right">Eliminar Tecnico</td>
            </tr>
            <tr>
                <td class="title">URI: </td>
                <td class="td-right">localhost:3000/tecnicos/eliminar/:id</td>
            </tr>
            <tr>
                <td class="title">Descripción: </td>
                <td class="td-right">Endpoint para eliminar un tecnico en la base de datos por su ID</td>
            </tr>
            <tr>
                <td class="title">Verbo HTTP: </td>
                <td class="td-right">DELETE</td>
            </tr>
            <tr>
                <td class="title">Header: </td>
                <td class="td-right"></td>
            </tr>
            <tr>
                <td class="title">Usuarios: </td>
                <td class="td-right">Administrador</td>
            </tr>
            <tr>
                <td class="title">Request JSON: </td>
                <td class="td-right"></td>
            </tr>
            <tr>
                <td class="title">Response: </td>
                <td class="td-right">
                <li>
                    <span>Correcto:</span> <br> <br>
                    status: 200 <br><br>
                Body: <br>
                { <br>
                        [<br>
                        message: "Tecnico eliminado exitosamente"<br>
                        ]
                }  <br> <br>
                </li>
                    <li> <span>Incorrecto:</span> <br><br>
                    status: 404 <br><br>
                    Body: { <br>
                        "message": "Tecnico no eliminado", <br>
                        "error": {<br>
                            muestra las características del error <br>
                            }  <br>
                    }
                    </li>
                </td>
            </tr>
        </table>
    </div>
  </div>

   </div>
   </div>
</body>
</html>